{% load static %}
<!DOCTYPE html>
<html>
<head>

	<title>TODO LIST</title>
	<style type="text/css">
	#todo{
		height: 500px;
		width: 600px;
		background-color: #DFDF88;
	}
		.completed_task{
			background-color: red;
			color: red;
			list-style:none; 
			height: 50px;
			widows: 500px;

		}
		.in_completed_task{
			background-color: green;
			color: green;
			
			height: 50px;
			widows: 500px;
			list-style:none; 
		}

	</style>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body class="container">
	<center><strong><p>
<h1>add your task here for today </h1>
<br>
<h6>{{add}}</h6>
</p></strong></center>
<center>
	<p>
		<div class="container" id="todo"><form method="POST" action="{% url 'add' %}">
			<div class="form-group">
			{% csrf_token %}
			{{ form.as_p }}
		<div class="btn-group">
			<button type="submit" name="save" value="1">ADD</button>
			<a href="{% url 'delete' %}"><button type="button">delete completed</button>
		</div>
		</div>
			

		</form>
		
			</a>
		
			
		<div><ul >
		{% for objects in all_objects %}
			{% if objects.check %}
			<div class="completed_task" ><a href="{% url 'complete' objects.id %}" ><li>{{ objects.text }}</li></a></div></ul>
			{% else %}
			<ul>
					<div  class="in_completed_task"><a href="{% url 'complete' objects.id %}" ><li>{{ objects.text }}</li></a></div></ul>	
		{% endif %}
		{% endfor %}
			
		
		</div>
		</div>
			
	</p>
		
		
</center>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>
</html>